<app-menu-bar></app-menu-bar>

<app-title></app-title>

<article class="container">
  <div class="hero">
    <app-hero-card
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi assumenda
    aut fuga! Laboriosam provident totam minima quo, magni repellendus.
    Quos quia officia modi sit maiores nulla sapiente nesciunt quibusdam eaque."
    title="Titulo da minha imagem principal"
    image="https://picsum.photos/500/300"
    ></app-hero-card>
  </div>
  <div class="notices">
    <app-notice-card></app-notice-card>
  </div>
</article>
