<div class="container">
  <img src="https://picsum.photos/200/100" alt="...">
  <div class="details">
    <span>acho que é a data</span>
    <h3>Titulo da noticia que fica ao lado da noticia maior Titulo da noticia que fica ao lado da noticia maior</h3>
  </div>
</div>

<div class="container">
  <img src="https://picsum.photos/200/100" alt="...">
  <div class="details">
    <span>acho que é a data</span>
    <h3>Titulo da noticia que fica ao lado da noticia maior Titulo da noticia que fica ao lado da noticia maior</h3>
  </div>
</div>


<div class="container">
  <img src="https://picsum.photos/200/100" alt="...">
  <div class="details">
    <span>acho que é a data</span>
    <h3>Titulo da noticia que fica ao lado da noticia maior Titulo da noticia que fica ao lado da noticia maior</h3>
  </div>
</div>
